h1(class="headerSiteName ttl--1")
  a(href="index.html") #{siteName}
  
div(class="humburger")
  span
  span
  span
  
nav(class="humburgerMenu")
  ul(class="humburgerMenu__contents")
    li
      a(href=pages.top.url) #{pages.top.name}
    li
      a(href=pages.about.url) #{pages.about.name}
    li
      a(href=pages.timetable.url) #{pages.timetable.name}
    li
      a(href=pages.ticket.url) #{pages.ticket.name}
    li
      a(href=pages.access.url) #{pages.access.name}
    li
      a(href=pages.contact.url) #{pages.contact.name}
