extends _layout

block vars
  include _config
  - var key = "about"
  - var page = pages[key]

block contents
  img(class="topIcon" src=imgPath+"/common/logo_about.png" alt="about")
  section(class="ttl1")
    h1.ttl--1 上方謎の園とは
    section(class="ttl2")
      span.ttl--2 about
      
  div.about_event
    h3.ttl--3 上方謎の園について
  div.about_staff
    h3.ttl--3 運営紹介
    div.staff
      img(class="icon_staff" src=imgPath+"/common/logo_about.png" alt="tomato")
      p(class="staffName") 
        |
        span.line シルクト
      div(class="hukidashi")
        p(class="groupContents__introduction")
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。
        a(class="btn--box--Twitter" href="https://twitter.com/shirukuto_NAZO") Twitterアカウント
          span(class="material-symbols-outlined") play_arrow
    div.staff
      img(class="icon_staff" src=imgPath+"/common/logo_about.png" alt="tomato")
      p(class="staffName") 
        |
        span.line とまと
      div(class="hukidashi")
        p(class="groupContents__introduction")
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。
        a(class="btn--box--Twitter" href="https://twitter.com/tomato_tryangle") Twitterアカウント
          span(class="material-symbols-outlined") play_arrow
    div.staff
      img(class="icon_staff" src=imgPath+"/common/logo_about.png" alt="tomato")
      p(class="staffName") 
        |
        span.line ドミノ
      div(class="hukidashi")
        p(class="groupContents__introduction")
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。
        a(class="btn--box--Twitter" href="https://twitter.com/do_mi_no_71") Twitterアカウント
          span(class="material-symbols-outlined") play_arrow
    div.staff
      img(class="icon_staff" src=imgPath+"/common/logo_about.png" alt="tomato")
      p(class="staffName") 
        |
        span.line まっきー
      div(class="hukidashi")
        p(class="groupContents__introduction")
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。
        a(class="btn--box--Twitter" href="https://twitter.com/mackey_nazotoki") Twitterアカウント
          span(class="material-symbols-outlined") play_arrow
    div.staff
      img(class="icon_staff" src=imgPath+"/common/logo_about.png" alt="tomato")
      p(class="staffName") 
        |
        span.line りぽ
      div(class="hukidashi")
        p(class="groupContents__introduction")
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。
        a(class="btn--box--Twitter" href="https://twitter.com/MrLipovitan") Twitterアカウント
          span(class="material-symbols-outlined") play_arrow

      
