extends _layout

block vars
  include _config
  - var key = "about"
  - var page = pages[key]

block contents
  img(class="topIcon" src=imgPath+"/about/logo_about.png" alt="about")
  section
    h1.ttl--1 上方謎の園とは
    span.ttl--2 ABOUT
    section.aboutEvent
      h2.ttl--3 イベント概要
      p(class="aboutEvent__outline")
        | coming soon...
    section.aboutStaff
      h2.ttl--3 運営紹介
      section.aboutStaff__item
        img(src=imgPath+"/about/logo_about.png" alt="tomato")
        h3(class="aboutStaff__item__name") 
          span.line シルクト
        div(class="hukidashi")
          p(class="aboutStaff__item__group")
            | -所属団体-<br>
            span.line NAZONE
          p(class="aboutStaff__item__intro")
            | 謎解き制作団体NAZONE所属のシルクトです。<br>
            | なぜこの学生団体だらけのフェスに僕がいるのかと言いますと、ズバリそれは僕が発起人だからです。<br>
            | どの学生団体にも所属してはおりませんが、人一倍謎解き界隈を盛り上げる気ではありますので、
            | 何卒よろしくお願いいたします！！
          a(class="btn--box--Twitter" href="https://twitter.com/shirukuto_NAZO") Twitterアカウント
            span(class="material-symbols-outlined") play_arrow
      section.aboutStaff__item
        img(src=imgPath+"/about/logo_about.png" alt="tomato")
        h3(class="aboutStaff__item__name") 
          span.line とまと
        div(class="hukidashi")
          p(class="aboutStaff__item__group")
            | -所属団体-<br>
            span.line F-enigma TryAngle
          p(class="aboutStaff__item__intro")
            | coming soon...
          a(class="btn--box--Twitter" href="https://twitter.com/tomato_tryangle") Twitterアカウント
            span(class="material-symbols-outlined") play_arrow
      section.aboutStaff__item
        img(src=imgPath+"/about/logo_about.png" alt="tomato")
        h3(class="aboutStaff__item__name") 
          span.line ドミノ
        div(class="hukidashi")
          p(class="aboutStaff__item__group")
            | -所属団体-<br>
            span.line 九大Quest Nazoo TolNaDo
          p(class="aboutStaff__item__intro")
            | coming soon...
          a(class="btn--box--Twitter" href="https://twitter.com/do_mi_no_71") Twitterアカウント
            span(class="material-symbols-outlined") play_arrow
      section.aboutStaff__item
        img(src=imgPath+"/about/logo_about.png" alt="tomato")
        h3(class="aboutStaff__item__name") 
          span.line まっきー
        div(class="hukidashi")
          p(class="aboutStaff__item__group")
            | -所属団体-<br>
            span.line OUtfoX XEOXY
          p(class="aboutStaff__item__intro")
            | coming soon...
          a(class="btn--box--Twitter" href="https://twitter.com/mackey_nazotoki") Twitterアカウント
            span(class="material-symbols-outlined") play_arrow
      section.aboutStaff__item
        img(src=imgPath+"/about/logo_about.png" alt="tomato")
        h3(class="aboutStaff__item__name") 
          span.line りぽ
        div(class="hukidashi")
          p(class="aboutStaff__item__group")
            | -所属団体-<br>
            span.line ハードナッツ AnotherVision TokiTama
          p(class="aboutStaff__item__intro")
            | coming soon...
          a(class="btn--box--Twitter" href="https://twitter.com/MrLipovitan") Twitterアカウント
            span(class="material-symbols-outlined") play_arrow
