extends _layout

block vars
  include _config
  - var key = "about"
  - var page = pages[key]

block contents
  img(class="topIcon" src=imgPath+"/about/logo_about.png" alt="about")
  section
    h1.ttl--1 上方謎の園とは
    span.ttl--2 ABOUT
    section.aboutEvent
      h2.ttl--3 イベント概要
      p(class="aboutEvent__outline")
        | coming soon...
    section.aboutStaff
      h2.ttl--3 運営紹介
      section.aboutStaff__item
        img(src=imgPath+"/about/shirukuto_icon.png" alt="shirukuto")
        h3(class="aboutStaff__item__name") 
          span.line シルクト
        div(class="hukidashi")
          p(class="aboutStaff__item__group")
            | -所属団体-<br>
            span.line NAZONE
          p(class="aboutStaff__item__intro")
            | どうも謎解き制作団体NAZONE所属のシルクトです。
            | なぜこの学生団体だらけのフェスに僕がいるのかと言いますと、ズバリそれは僕が発起人だからです。
            | どの学生団体にも所属してはおりませんが、人一倍謎解き界隈を盛り上げる気ではありますので、何卒よろしくお願いいたします！！
          a(class="btn--box--Twitter" href="https://twitter.com/shirukuto_NAZO") Twitterアカウント
            span(class="material-symbols-outlined") play_arrow
      section.aboutStaff__item
        img(src=imgPath+"/about/tomato_icon.png" alt="tomato")
        h3(class="aboutStaff__item__name") 
          span.line とまと
        div(class="hukidashi")
          p(class="aboutStaff__item__group")
            | -所属団体-<br>
            span.line F-enigma<br>TryAngle
          p(class="aboutStaff__item__intro")
            | 上方謎の園web担当のとまとです。普段は「F-enigma」「TryAngle」の両団体で一枚謎を制作しています。
            | 当日イベントにお越しいただく皆様により良い体験をお届けできるよう、精一杯頑張ります。
            | よろしくお願いいたします。
          a(class="btn--box--Twitter" href="https://twitter.com/tomato_tryangle") Twitterアカウント
            span(class="material-symbols-outlined") play_arrow
      section.aboutStaff__item
        img(src=imgPath+"/about/domino_icon.png" alt="domino")
        h3(class="aboutStaff__item__name") 
          span.line ドミノ
        div(class="hukidashi")
          p(class="aboutStaff__item__group")
            | -所属団体-<br>
            span.line 九大Quest<br>Nazoo<br>TolNaDo
          p(class="aboutStaff__item__intro")
            | こんちわ、ドミノです。
            | 普段は謎制作以外に、所属している九大Questでデザインも担当しており、今回はデザインの面での協力をさせていただいてます。
            | 関西の人ではありませんが、ビジュアルから学生の「本気」を届けられるよう精一杯頑張って参ります。
            | マジです。
          a(class="btn--box--Twitter" href="https://twitter.com/do_mi_no_71") Twitterアカウント
            span(class="material-symbols-outlined") play_arrow
      section.aboutStaff__item
        img(src=imgPath+"/about/mackey_icon.png" alt="mackey")
        h3(class="aboutStaff__item__name") 
          span.line まっきー
        div(class="hukidashi")
          p(class="aboutStaff__item__group")
            | -所属団体-<br>
            span.line OUtfoX<br>XEOXY
          p(class="aboutStaff__item__intro")
            | OUtfoX代表のまっきーです。
            | 関西の大学を中心に学生団体が大集合するということで、運営という立場ではありますが、
            | とてもワクワクしております。
            | 皆様の夏をより"アツい"ものにできるよう尽力して参りますので、どうぞよろしくお願いいたします。
          a(class="btn--box--Twitter" href="https://twitter.com/mackey_nazotoki") Twitterアカウント
            span(class="material-symbols-outlined") play_arrow
      section.aboutStaff__item
        img(src=imgPath+"/about/lipo_icon.png" alt="lipo")
        h3(class="aboutStaff__item__name") 
          span.line りぽ
        div(class="hukidashi")
          p(class="aboutStaff__item__group")
            | -所属団体-<br>
            span.line ハードナッツ<br>AnotherVision<br>TokiTama
          p(class="aboutStaff__item__intro")
            | ねこがすき。
            | テーマパークがすき。
            | よろしくお願いします。
          a(class="btn--box--Twitter" href="https://twitter.com/MrLipovitan") Twitterアカウント
            span(class="material-symbols-outlined") play_arrow
