extends _layout

block vars
  include _config
  - var key = "group"
  - var page = pages[key]

block contents
  img(class="topIcon" src=imgPath+"/common/logo_group.png" alt="group")
  section(class="ttl1")
    h1.ttl--1 出展団体
    section(class="ttl2")
      span.ttl--2 GROUP
  section.groupContents
    span(class="groupContents__number") 
      | No.1
    h2(class="groupContents__groupName") 
      span.line AnotherVision
    a(href="https://twitter.com/Another_Vision_")
      img(class="groupContents__groupIcon" src=imgPath+"/common/logo_AnotherVision.png" alt="AnotherVision")
    div(class="hukidashi")
      p(class="groupContents__introduction")
        | ここに120字くらいの団体紹介文が入ります。<br>
        | ここに120字くらいの団体紹介文が入ります。<br>
        | ここに120字くらいの団体紹介文が入ります。<br>
        | ここに120字くらいの団体紹介文が入ります。<br>
        | ここに120字くらいの団体紹介文が入ります。<br>
        | ここに120字くらいの団体紹介文が入ります。
      a(class="btn--box" href="about.html") 公演情報を見る
        span(class="material-symbols-outlined") play_arrow
  section.groupContents
      span(class="groupContents__number") 
        | No.2
      h2(class="groupContents__groupName") 
        span.line ENIG-ROID
      a(href="https://twitter.com/ENIG_ROID")
        img(class="groupContents__groupIcon" src=imgPath+"/common/logo_ENIGROID.png" alt="ENIG-ROID")
      div(class="hukidashi")
        p(class="groupContents__introduction")
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。
        a(class="btn--box" href="about.html") 公演情報を見る
          span(class="material-symbols-outlined") play_arrow
  section.groupContents
      span(class="groupContents__number") 
        | No.3
      h2(class="groupContents__groupName") 
        span.line F-enigma
      a(href="https://twitter.com/omunazotoki")
        img(class="groupContents__groupIcon" src=imgPath+"/common/logo_Fenigma.png" alt="F-enigma")
      div(class="hukidashi")
        p(class="groupContents__introduction")
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。
        a(class="btn--box" href="about.html") 公演情報を見る
          span(class="material-symbols-outlined") play_arrow
  section.groupContents
      span(class="groupContents__number") 
        | No.4
      h2(class="groupContents__groupName") 
        span.line ハードナッツ
      a(href="https://twitter.com/hard_nuts_")
        img(class="groupContents__groupIcon" src=imgPath+"/common/logo_hardnuts.png" alt="hardnuts")
      div(class="hukidashi")
        p(class="groupContents__introduction")
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。
        a(class="btn--box" href="about.html") 公演情報を見る
          span(class="material-symbols-outlined") play_arrow
  section.groupContents
      span(class="groupContents__number") 
        | No.5
      h2(class="groupContents__groupName") 
        span.line KRiC
      a(href="https://twitter.com/KU_KRiC")
        img(class="groupContents__groupIcon" src=imgPath+"/common/logo_KRiC.png" alt="KRiC")
      div(class="hukidashi")
        p(class="groupContents__introduction")
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。
        a(class="btn--box" href="about.html") 公演情報を見る
          span(class="material-symbols-outlined") play_arrow
  section.groupContents
      span(class="groupContents__number") 
        | No.6
      h2(class="groupContents__groupName") 
        span.line OUtfoX×KG謎部
      a(href="https://twitter.com/OUtfoX_handai")
        img(class="groupContents__groupIcon" src=imgPath+"/common/logo_OUtfoX.png" alt="OUtfoX")
      a(href="https://twitter.com/nazokgnazo")
        img(class="groupContents__groupIcon" src=imgPath+"/common/logo_KGnazobu.png" alt="KGnazobu")
      div(class="hukidashi")
        p(class="groupContents__introduction")
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。
        a(class="btn--box" href="about.html") 公演情報を見る
          span(class="material-symbols-outlined") play_arrow
  section.groupContents
      span(class="groupContents__number") 
        | No.7
      h2(class="groupContents__groupName") 
        span.line Xcape
      a(href="https://twitter.com/_X_c_a_p_e_")
        img(class="groupContents__groupIcon" src=imgPath+"/common/logo_Xcape.png" alt="Xcape")
      div(class="hukidashi")
        p(class="groupContents__introduction")
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。
        a(class="btn--box" href="about.html") 公演情報を見る
          span(class="material-symbols-outlined") play_arrow
