extends _layout

block vars
  include _config
  - var key = "group"
  - var page = pages[key]

block contents
  img(class="topIcon" src=imgPath+"/group/logo_group.png" alt="group")
  section
    h1.ttl--1 出展団体
    span.ttl--2 GROUP
    section.groupContents
      div.groupContents__wrap
        span(class="groupContents__number")
          | No.1
        h2(class="groupContents__name")
          span.line AnotherVision
        div.groupContents__icon
          img(src=imgPath+"/group/logo_AnotherVision.png" alt="AnotherVision")
      div(class="hukidashi")
        p(class="groupContents__intro")
          span.line 東京大学の学生
          | を中心とした謎解き制作集団。2012年10月設立。<br><br>
          | イベントスペースを貸し切って自主公演を開催したり、企業からの委託を受けて謎解きを制作したりと、その活動は多岐にわたる。<br>
          | 関西での公演実施は2016年の『善人開発計画』以来6年ぶりとなる。
        a(class="btn--box--Twitter" href="https://twitter.com/Another_Vision_") Twitterアカウント
          span(class="material-symbols-outlined") play_arrow
    section.groupContents
      div.groupContents__wrap
        span(class="groupContents__number") 
          | No.2
        h2(class="groupContents__name") 
          span.line ENIG-ROID
        div.groupContents__icon
          img(src=imgPath+"/group/logo_ENIGROID.png" alt="ENIG-ROID")
      div(class="hukidashi")
        p(class="groupContents__intro")
          | 
          span.line 京都大学の学生
          | による謎解きサークル。
          | 旗揚げから今年で10年、現在は30人ほどのメンバーで活動中。<br><br>
          | 過去には京都大学11月祭への出展や大阪・東京での単独公演を行っていたが、ここ数年は対外活動の機会に恵まれず。<br>
          | 上方謎の園では久しぶりとなる新作公演を実施。
        a(class="btn--box--Twitter" href="https://twitter.com/ENIG_ROID") Twitterアカウント
          span(class="material-symbols-outlined") play_arrow
    section.groupContents
      div.groupContents__wrap
        span(class="groupContents__number") 
          | No.3
        h2(class="groupContents__name") 
          span.line F-enigma
        div.groupContents__icon
          img(src=imgPath+"/group/logo_Fenigma.png" alt="F-enigma")
      div(class="hukidashi")
        p(class="groupContents__intro")
          | 
          span.line 大阪公立大学（旧大阪府立大学）の学生
          | による謎解きイベント制作団体。2016年設立。<br><br>
          | その実績は学園祭での公演だけに収まらず、最近では企業とタイアップした謎解きイベントを数多く世に送り出してきた。
        a(class="btn--box--Twitter" href="https://twitter.com/omunazotoki") Twitterアカウント
          span(class="material-symbols-outlined") play_arrow
    section.groupContents
      div.groupContents__wrap
        span(class="groupContents__number") 
          | No.4
        h2(class="groupContents__name") 
          span.line ハードナッツ
        div.groupContents__icon
          img(src=imgPath+"/group/logo_hardnuts.png" alt="hardnuts")
      div(class="hukidashi")
        p(class="groupContents__intro")
          | 
          span.line 京都大学の学生
          | を中心とした謎解き制作団体。2015年設立。<br><br>
          | 旗揚げ公演「人体からの脱出」でデビュー以来、関西をはじめ全国各地で自主制作の謎解き公演や企業コラボ謎解きを開催している。
        a(class="btn--box--Twitter" href="https://twitter.com/hard_nuts_") Twitterアカウント
          span(class="material-symbols-outlined") play_arrow
    section.groupContents
      div.groupContents__wrap
        span(class="groupContents__number") 
          | No.5
        h2(class="groupContents__name") 
          span.line KRiC
        div.groupContents__icon
          img(src=imgPath+"/group/logo_KRiC.png" alt="KRiC")
      div(class="hukidashi")
        p(class="groupContents__intro")
          | 2020年に設立した、
          span.line 関西大学の学生
          | による謎解きサークル。<br>
          | 月に数回部員同士で謎を解きに行くなど、ゆる～く活動中。<br><br>
          | 謎解き制作デビュー戦となる今回、数多の有名サークルと肩を並べて上方謎の園に参戦する。
        a(class="btn--box--Twitter" href="https://twitter.com/KU_KRiC") Twitterアカウント
          span(class="material-symbols-outlined") play_arrow
    section.groupContents
      div.groupContents__wrap.two
        span(class="groupContents__number") 
          | No.6
        h2(class="groupContents__name") 
          span.line OUtfoX×KG謎部
        div.groupContents__icon
          img(src=imgPath+"/group/logo_OUtfoX.png" alt="OUtfoX")
          img(src=imgPath+"/group/logo_KGnazobu.png" alt="KGnazobu")
      div(class="hukidashi")
        p(class="groupContents__intro")
          | coming soon...
        a(class="btn--box--Twitter" href="https://twitter.com/OUtfoX_handai") 公式Twitter
          span(class="material-symbols-outlined") play_arrow
        p(class="groupContents__intro")
          | coming soon...
        a(class="btn--box--Twitter" href="https://twitter.com/nazokgnazo") Twitterアカウント
          span(class="material-symbols-outlined") play_arrow
    section.groupContents
      div.groupContents__wrap
        span(class="groupContents__number") 
          | No.7
        h2(class="groupContents__name") 
          span.line Xcape
        div.groupContents__icon
          img(src=imgPath+"/group/logo_Xcape.png" alt="Xcape")
      div(class="hukidashi")
        p(class="groupContents__intro")
          | 
          span.line 京都工芸繊維大学の学生
          | を中心とした謎解きクリエイター集団。2019年設立。<br><br>
          | 参加者が主人公となって物語を進めていく、「体験型コンテンツ」を主に制作。<br>
          | 謎を解き明かしてゲームクリアを目指す「リアル系謎解きゲーム」の公演実施のほか、企業から委託を受けた制作と、その活動は多岐にわたる。
        a(class="btn--box--Twitter" href="https://twitter.com/_X_c_a_p_e_") Twitterアカウント
          span(class="material-symbols-outlined") play_arrow
