extends _layout

block vars
  include _config
  - var key = "ticket"
  - var page = pages[key]

block contents
  img(class="topIcon" src=imgPath+"/"+key+"/logo_ticket.png" alt="ticket")
  section
    h1.ttl--1 公演情報
    span.ttl--2 EVENT INFO
    section.ticketEvent
      h2.ttl--3 AnotherVision -unlimited-
      div.ticketEvent__info
        p(class="ticketEvent__info__name") 『½ match ニブンノイチマッチ』
        img(class="ticketEvent__info__img" src=imgPath+"/"+key+"/anovi.png" alt="AnotherVision -unlimited-『½ match ニブンノイチマッチ』")
        dl.ticketEvent__info__dl
          div.dispFlex
            dt 料金
            dd 3500円
            dt 拘束時間
            dd 140分
          dt ストーリー
          div(class="hukidashi--reverse")
            dd 目を覚ますと、そこは見知らぬ会場だった。<br>なぜここにいるのか、ここはどこなのか。<br>何も思い出せないまま、あなたは’’ある対戦’’に参加させられてしまう。<br>生き残ることが出来るのは、2人に1人。<br>その対戦に負けた者に未来はない。<br>ニブンノイチマッチ、対戦開始
              span.letterSpaceNormal ───
    section.ticketEvent
      h2.ttl--3 ENIG-ROID
      div.ticketEvent__info
        p(class="ticketEvent__info__name") 『最凶最悪デスゲーム(準備中)』
        img(class="ticketEvent__info__img" src=imgPath+"/"+key+"/enigroid.png" alt="ENIG-ROID『最凶最悪デスゲーム(準備中)』")
        dl.ticketEvent__info__dl
          div.dispFlex
            dt 料金
            dd 2000円
            dt 拘束時間
            dd 90分
          dt ストーリー
          div(class="hukidashi--reverse")
            dd なんやかんやでデスゲームに参加させられることになってしまい、処刑される覚悟で会場に向かった
              span.letterSpaceNormal ……
              | しかし会場はまだ準備中！？ゲームが始まるまであと少し時間がある。これはチャンスかもしれない！どうにかして生き残る術を見つけ出せ！
    section.ticketEvent
      h2.ttl--3 F-enigma
      div.ticketEvent__info
        p(class="ticketEvent__info__name") 『REALIZE』
        img(class="ticketEvent__info__img" src=imgPath+"/"+key+"/fenigma.png" alt="F-enigma『REALIZE』")
        dl.ticketEvent__info__dl
          div.dispFlex
            dt 料金
            dd 2000円
            dt 拘束時間
            dd 100分
          dt ストーリー
          div(class="hukidashi--reverse")
            dd 3年ぶりとなるF-enigmaの新作公演。<br>今回のテーマは、あの某アプリ！？<br>全ての仕掛けに’’気付き’'、脱出せよ！
    section.ticketEvent
      h2.ttl--3 KG謎部×OUtfoX
      div.ticketEvent__info
        p(class="ticketEvent__info__name") 『麒麟児』
        img(class="ticketEvent__info__img" src=imgPath+"/"+key+"/kg.png" alt="KG謎部×OUtfoX『麒麟児』")
        dl.ticketEvent__info__dl
          div.dispFlex
            dt 料金
            dd 2000円
            dt 拘束時間
            dd 60分
          dt ストーリー
          div(class="hukidashi--reverse")
            dd きりんじ【麒麟児】<br>優れた才能を持ち、将来大成すると期待が持てる子供のこと。<br>天才は人工的に造ることが出来るのか。あなたたちは謎解きのプロフェッショナルとして、その研究を手伝って頂きます。<br>今、あなたの手によって謎解きの天才が生まれる
              span.letterSpaceNormal ───
    section.ticketEvent
      h2.ttl--3 KRiC
      div.ticketEvent__info
        p(class="ticketEvent__info__name") 『謎の休憩所』
        img(class="ticketEvent__info__img" src=imgPath+"/"+key+"/kric.jpg" alt="KRiC『謎の休憩所』")
        dl.ticketEvent__info__dl
          div.dispFlex
            dt 料金
            dd 500円
            dt 拘束時間
            dd 20分
          dt ストーリー
          div(class="hukidashi--reverse")
            dd 15分間休憩していただくゲームです。
    section.ticketEvent
      h2.ttl--3 Xcape
      div.ticketEvent__info
        p(class="ticketEvent__info__name") 『禁断の研究記録(スタディ・レコード)』
        img(class="ticketEvent__info__img" src=imgPath+"/"+key+"/xcape.png" alt="Xcape『禁断の研究記録(スタディ・レコード)』")
        dl.ticketEvent__info__dl
          div.dispFlex
            dt 料金
            dd 2000円
            dt 拘束時間
            dd 75分
          dt ストーリー
          div(class="hukidashi--reverse")
            dd coming soon...
    section.ticketEvent
      h2.ttl--3 ハードナッツ
      div.ticketEvent__info
        p(class="ticketEvent__info__name") 『TIME』
        img(class="ticketEvent__info__img" src=imgPath+"/"+key+"/hardnuts.png" alt="ハードナッツ『TIME』")
        dl.ticketEvent__info__dl
          div.dispFlex
            dt 料金
            dd 2000円
            dt 拘束時間
            dd 100分
          dt ストーリー
          div(class="hukidashi--reverse")
            dd ハードナッツがお送りする今までにない謎解きゲーム「TIME」<br>”時間”を駆使してこの難攻不落のゲームをクリアしろ‼
